@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&family=Work+Sans&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Ubuntu", "sans-serif";
  --color-primary:"#131316", 
  --color-base_gray: "#56616B",
  --color-base_white: "#FFF;",
  --color-secondary: "#EFF1F6",
  --color-base_green: "#E3FCF2",
  --color-primary_green: "#075132", 
  --color-secondary_green: "#0EA163",
  --color-primary_red: "#F9E3E0",
  --color-base_red: "#961100",
  --color-base_yellow: "#A77A07";
}
