@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&family=Work+Sans&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Ubuntu", "sans-serif";
  --color-primary: #131316;
  --color-base-gray: #56616B;
  --color-base-white: #FFF;
  --color-secondary: #EFF1F6;
  --color-base-green: #E3FCF2;
  --color-primary-green: #075132;
  --color-primary-red: #F9E3E0;
  --color-base-red: #961100;
  --color-base-yellow: #A77A07;
  --shadow-md: 0px 2px 4px 0px rgba(45, 59, 67, 0.05), 0px 2px 6px 0px rgba(45, 59, 67, 0.06);
}
